@import './config.scss';

$colors-button: (
    red: (
        background: $color-red,
        hover: $color-red-hover,
    ),
    blue: (
        background: $color-blue,
        hover: $color-blue-hover,
    ),
    yellow: (
        background: $color-yellow,
        hover: $color-yellow-hover,
    ),
);

@each $btnName, $colorsMap in $colors-button {
    .btn-#{$btnName} {
        @extend %btn;
    }
    @each $key, $value in $colorsMap {
        @if $key == 'background' {
            .btn-#{$btnName} {
                background-color: $value
            }
        } @else if $key == 'hover' {
            .btn-#{$btnName} {
                &:hover {
                    background-color: $value;
                }
            }
        }
    }
}