@mixin  resetCss {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

// VARIABLES

/* NAVBAR */
$navbar-backgroundColor: #232323;
$navbar-linkColor: #FFFFFF;
$navbar-childMenuBackgroundColor: #FFFFFF;
$navbar-childLinkColor: #333333;
$navbar-childBackgroundHover: #CCCCCC;
$navbar-fontsizeParent: 18px;
$navbar-fontsizeChild: 14px;
$navbar-iconFontSize: 12px;
$navbar-redLink: #d5282a;

/* Slide Show */
$slideShow-ArrowButtonMargin: 30px;
$slideShow-booksButtonFontSize: 15px;

/* Main Content */
$main-chefLinkColor: #FFFFFF;