@import './config';
@import './navbar';
@import './slideShow';
@import './content';
@import './footer';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@include resetCss;

body{
  background-color: aquamarine;
  font: {
    family: 'Open Sans', sans-serif;
  }
}