*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 50px;
    color: #ffffff;
}

.layout{
    position: relative;
    width: 100%;
    background-color: yellowgreen;
}

.layout::after{
    content: "";
    clear: both;
    display: table;
}

.menu{
    width: 20%;
    background-color: blueviolet;
    border: 1px solid black;
}

.content{
    width: 300px;
    background-color: brown;
}

#menu2{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
}

#content2{
    width: 100%;
    margin-top: 100px;
}

#content2 div{
    height: 3000px;
}