*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo{
    width: 10vw;
    position: absolute;
    top: 2.5vw;
    left: 30px;
    max-width: 100%;
    height: auto !important;
}

#banner{
    width: 100%;
}

#menu{
    font-size: 36px;
    background-color: burlywood;
    text-align: center;  
}

#menu > ul > li {
    list-style: none;
    display: inline-block;
    padding: 10px;
}

#main {
    padding: 5px;
    text-align: justify;
}
.picture_wrap{
    display: inline-block;
    width: 33%;
    border: 3px solid #000000;
    margin-bottom: 5px;
}

.picture_wrap:hover > span{
    color: blueviolet;
    background-color: tomato;
}

.picture_wrap > img {
    width: 100%;
    height: 300px;
    border-bottom: 1px dotted #000000;
}

.picture_wrap > span{
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 2em;
    background-color: brown;
}